html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0)
}

html,
body {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    font: 1.4rem/1.5 "Helvetica", "Microsoft YaHei", Helvitica, Verdana, Tohoma, Arial, san-serif
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.clearfix:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    font-size: 0
}

.clearfix {
    zoom: 1;
}

.g-f-left {
    float: left
}

.g-f-right {
    float: right
}

.js-ds-none,
.ds-none {
    display: none!important
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

label,
select,
input[type=number],
input[type=text] {
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*-moz-appearance: textfield;*/
}

input[type=number] {
    -moz-appearance: textfield;
}

.m-hxy-container {
    width: 100%;
    margin: 0 auto;
}

.laydate_box,
.laydate_box * {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.g-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
}

#myAlert {
    width: 80%;
}

@media screen and (min-width: 1024px) {
    .m-hxy-container {
        width: 1200px;
    }
    #myAlert {
        width: 400px;
    }
}

img {
    vertical-align: middle;
}

strong {
    font-weight: bold;
}